*
*.*

!parking/
!parking/common/
!parking/env/
!parking/runtime/
!parking/vehicle/
!tests/
!docs/

!.gitignore
!*.md
!*.py
!*.rst
!Makefile
!make.bat
!resources/gui-settings.cfg
!resources/config.json.example
!resources/reroute.edg.xml
!resources/reroute.net.xml
!resources/reroute.nod.xml

