{
  "simulation" : {
      "routefile" : "reroute.rou.xml",
      "resourcedir" : "resources",
      "sumoport" : 8873,
      "headless" : true,
      "runs" : 10,
      "runconfiguration" : "config.run.jason",
      // parkingspaces sets number of FREE parking spaces in simulation run.
      // possible values are: number of parking spaces [int] or a list of parking space ids [list].
      // if set to number, parking spaces are be selected by random.sample() function.

      "parkingspaces" : {
        "total" : 400,
        "free" : 5,
      },
      // number of vehicles which look for a parking space
      "vehicles" : 5,

      // ratio of cooperation among vehicles. cooperative vehicles are selected by random.sample( population, k ),
      // where population is a set of $vehicle elements and k = int(round($vehicles * $cooperation))
      "cooperation" : 0.0,
  },

  "vehicle" : {
      "parking" : {
          "distance" : {
              "min" : 12.0,
              "max" : 30.0,
          },
          "duration" : 12.0, // seconds
      },

      "maxspeed" : {
          "phase1" : 27.778, // 100 km/h in m/s
          "phase2" : 8.333, // 30 km/h in m/s
          "phase3" : 8.333, // 30 km/h in m/s
      },

      "weights" : {
          "coop" : { // weights if vehicle is cooperative
              "distance" : 1,
              "selfvisit" : 2000,
              "externalvisit" : 2000,
              "externalplanned" : 100,
          },
          "noncoop" : { // weights if vehicle is non-cooperative
              "distance" : 1,
              "selfvisit" : 2000,
              "externalvisit" : 0,
              "externalplanned" : 0,
          },
      },
  },
}